<script lang="ts" setup>
import {computed} from 'vue'
import { NProgress } from 'naive-ui'
import IconFileImage from '@/assets/images/icon-file-image.svg'
import IconFilePDF from '@/assets/images/icon-file-pdf.svg'

export interface FileIcon {
    image: string;
    pdf: string;
    docs: string;
}

const props = defineProps<{
    percentage?: number;
    type: keyof FileIcon;
    label?: string;
    labelSuffix?: string;
}>()
const icons: FileIcon = {
  image: IconFileImage,
  pdf: IconFilePDF,
  docs: ''
}
const icon = computed(()=>{
  return icons[props.type]
})

</script>
<template>
    <div class="file-progress flex items-center gap-5 bg-primary-pale px-6 py-5 rounded-3xl">
      <img class="flex-shrink-0" :src="icon" :alt="type">
      <div class="w-full">
        <div class="pb-4 flex justify-between gap-2 font-notoTC">
          <span >{{props.label}}</span>
          <span v-html="props.labelSuffix" />
        </div>
        <n-progress type="line"
                    :height="2"
                    :percentage="props.percentage"
                    :show-indicator="false"
        />
      </div>
    </div>
</template>
<style scoped>
</style>
<style >
/* * {
  outline: 1px solid red;
} */
</style>