<script lang="ts" setup>
import type { UploadProps, UploadFileInfo, UploadCustomRequestOptions } from 'naive-ui'
import {withDefaults, ref, computed} from 'vue'
import {NUpload, NUploadDragger} from 'naive-ui';
import axios from 'axios';
// components
import SupportText from './SupportText'
import IconUploadFile from '@/components/icons/IconUploadFile.vue'
import Progress from './preogress';
// utils
import {isFileType, isWithinSize, toBase64} from '@/utils/resolve-file'
import {useMessage} from '@/utils/message';

export type FileType = 'application/pdf' | 'image/png' | 'image/jpg' | 'image/jpeg';

export type CustomRequest = {
  [K in keyof UploadCustomRequestOptions]: UploadCustomRequestOptions[K];
} & {
  progress: (value: number) => void;
}
export type FileUploadData = {
  info: File;
  src?: string;
  id: string;
}
export interface Props {
  fileList?: FileUploadData[];
  types?: FileType[];
  maxSizeToMb?: number; // 單位 mb = fileSize / 1024 / 1024 < maxSize
  listType?: UploadProps['listType'];
  max?: UploadProps['max'];
  uploading?: boolean;
  showSize?: boolean;
  showFileList?: UploadProps['showFileList'];
  createThumbnailUrl?: UploadProps['createThumbnailUrl'];
  beforeUpload?: UploadProps['onBeforeUpload'];
  customRequest?: (data: CustomRequest) => void;
}

const props = withDefaults(defineProps<Props>(), {
  fileList: () => ([]),
  listType: 'image',
  max: 1,
})
const emit = defineEmits<{
  (e: 'file-uploading', file: FileUploadData): void;
  (e: 'file-finish', file: FileUploadData): void;
  (e: 'file-error', error: unknown, file: FileUploadData): void;
  (e: 'uploading', value: boolean): void;
  (e: 'update:uploading', value: boolean): void;
  (e: 'update:file-list', file: FileUploadData[]): void;
}>()
const refNUpload = ref<InstanceType<typeof NUpload> | null>(null);
const uploadProgress = ref(0);
const message = useMessage();
const fileSize = (size: number) => {
  return `
  <span class="text-primary">
    ${(size / 1024 / 1024).toFixed(2)}MB
  </span>
  <span class="text-primary text-opacity-50">
    /${props.maxSizeToMb}MB
  </span>
  `
}
const fileSupportText = computed(() => {
  if (!props.types) return [];
  const fileType = props.types.reduce((types, next, index) => {
    const type = next.match(/png|jpg|jpeg|pdf/)?.[0];
    if (!type) return types;
    types += `${index !== 0 ? ',' : ''}${type}`;
    return types;
  }, '');
  const maxSize = props.maxSizeToMb ? '≦' + props.maxSizeToMb + 'mb' : null;

  return [fileType, maxSize].filter((i) => i) as string[];
})
const fileBeforeUpload = (data: {file: Required<UploadFileInfo>; fileList: Required<UploadFileInfo>[]}) => {
  const {file} = data;
  const errorMessage = SupportText({texts: fileSupportText.value})
  if (props.beforeUpload && props.beforeUpload(data)) return false
  if (!file.file) return message.error(errorMessage)
  if (props.types && !isFileType(props.types, file.file)) return message.error(errorMessage)
  if (props.maxSizeToMb && !isWithinSize(file.file.size, props.maxSizeToMb)) return message.error(errorMessage)
  return true
}

const setFileList = (data: FileUploadData) => {
  const {id} = data;
  const list = [];
  
  props.fileList.forEach((file) => {
    if (file.id === id) {
      list.push(data)
    }
  })
  if (!props.fileList.length) {
    list.push(data)
  }
  return list
}

const fileCustomRequest = async (options: UploadCustomRequestOptions) => {
  if (props.customRequest) {
    props.customRequest(
      {
        ...options,
        progress: (value: number) => {
          uploadProgress.value = value
        }
      })
    return;
  }
  const { file, onError, onProgress } = options;
  if (!file.file) return onError();

  const {id, file: fileInfo} = file

  emit('uploading', true)
  emit('update:uploading', true)
  emit('file-uploading', {info: fileInfo, id})
  emit('update:file-list', setFileList({info: fileInfo, id}))

  const url = URL.createObjectURL(fileInfo)
  try {
    const res = await axios.get(url, {
      responseType: 'blob',
      onDownloadProgress({progress}) {
        const percent = Math.ceil((progress ?? 1) * 100);
        onProgress({percent})
        uploadProgress.value = percent
      },
    })
    // revolves PDF

    // revolves image
    const base64File = await toBase64(res.data) as string

    setTimeout(() => {
      emit('uploading', false)
      emit('update:uploading', false)
      emit('file-finish', {info: fileInfo, src: base64File, id})
      emit('update:file-list',  setFileList({info: fileInfo,src: base64File, id}))
    }, 1500); // 1500ms 跟動畫時間同步。

    // onFinish 會讓進度條消失，所以故意不調用

  } catch (error) {
    message.error('上傳時出現未知出錯')
    console.error(error)
    emit('file-error', error, {info: fileInfo, id})
  } finally {
    URL.revokeObjectURL(url)
  }
}
const clear = () => {
  if (!refNUpload.value) return;
  refNUpload.value.clear()
}
const openOpenFileDialog = () => {
  if (!refNUpload.value) return;
  refNUpload.value.openOpenFileDialog()
}
const submit = () => {
  if (!refNUpload.value) return;
  refNUpload.value.submit()
}
defineExpose({
  clear,
  openOpenFileDialog,
  submit
})
</script>
<template>
    <n-upload
        class="file-upload rounded-3xl"
        ref="refNUpload"
        directory-dnd
        :list-type="props.listType"
        :max="props.max"
        :accept="props.types?.join(',')"
        :custom-request="fileCustomRequest"
        :show-cancel-button="false"
        :show-remove-button="false"
        :show-file-list="false"
        @before-upload="fileBeforeUpload"
    >
      <n-upload-dragger v-if="!props.uploading">
        <slot>
          <div class="text-xs">
            <IconUploadFile />
            <div class="pb-2">
              拖曳圖片至此，或<span class="text-primary underline pl-2">選擇檔案</span>
            </div>
            <SupportText :texts="fileSupportText"></SupportText>
          </div>
        </slot>
      </n-upload-dragger>
    </n-upload>

    <div class="file-item" v-for="file in fileList" :key="file.id">
      <div v-if="!uploading && file.info.type.includes('image')"  class="w-full h-[200px] text-center border-primary border border-opacity-50 rounded-3xl overflow-hidden">
        <img :src="file.src" class="h-full inline-block">
      </div>
      <Progress
          v-if="uploading || props.showFileList"
          :label="file.info.name"
          :percentage="uploadProgress"
          :type="file.info.type.includes('image') ? 'image' : file.info.type.includes('pdf') ? 'pdf' : 'docs'"
          :label-suffix="fileSize(file.info.size)"
      ></Progress>
    </div>
</template>
<style scoped>

.file-upload:deep(.n-upload-dragger){
  @apply rounded-3xl bg-primary-pale text-center tracking-widest w-full h-[220px] flex justify-center items-center;
  color: #728F9B80;
}
.file-upload:deep(.n-upload-file-list .n-upload-file) {
  @apply px-0 overflow-hidden;
}
.file-upload:deep(.n-upload-file-list .n-upload-file:hover) {
  background-color: transparent;
}
.file-upload:deep(.n-upload-file) {
  @apply relative;
}
.file-upload:deep(.n-progress) {
  @apply absolute bottom-0 left-[8px];
}
.file-upload:deep(.n-upload-file-list .n-upload-file.n-upload-file--text-type .n-progress) {
  @apply p-0 m-0;
}
.file-upload:deep(.n-upload-file-list .n-upload-file .n-upload-file-info .n-upload-file-info__name) {
  @apply font-medium tracking-widest relative flex flex-col justify-between;
}
.file-upload:deep(.n-upload-file-list .n-upload-file .n-upload-file-info .n-upload-file-info__name span) {
  @apply text-ellipsis whitespace-nowrap overflow-hidden;
}
.file-upload:deep(.n-upload-trigger.n-upload-trigger--disabled) {
  @apply opacity-100 cursor-default pointer-events-none;
}
.file-upload:deep(.n-upload-dragger.n-upload-dragger--disabled) {
  @apply cursor-default pointer-events-none hidden;
}
.file-upload:deep(.n-upload-file-list .n-upload-file.n-upload-file--image-type .n-upload-file-info) {
  @apply flex items-stretch bg-primary-pale rounded-2xl py-[16px] px-[24px];
}

.file-upload:deep(.n-upload-file-list .n-upload-file.n-upload-file--image-type.fade-in-height-expand-transition-leave-active .n-upload-file-info) {
  @apply py-0;
}

.file-upload:deep(.n-progress .n-progress-graph .n-progress-graph-line .n-progress-graph-line-rail .n-progress-graph-line-fill) {
  transition: background-color .3s var(--n-bezier), max-width 1.5s var(--n-bezier);
}
</style>