<script lang="ts" setup>
import type {PDFDocumentProxy} from 'pdfjs-dist'
import {ref, reactive, onMounted, onBeforeUnmount, nextTick, shallowRef} from 'vue'
import {NModal} from 'naive-ui'
import * as pdfjs from 'pdfjs-dist'
// utils
import {toBuffer} from '@/utils/resolve-file'
// components
import SingUpload from '@/micro/sign-upload/SingUpload.vue';
import SwitchIcon from '@/components/switch-icon';
import ItemWrapper from './ItemWrapper.vue';
import ToolItem from './ToolItem.vue'
import SelectScale from './SelectScale.vue'
import InputItem from '@/components/input-item/InputItem.vue';
import PrimaryButtons, {type Props as PrimaryButtonsProps} from './PrimaryButtons.vue'
import IconEdit from '@/components/icons/IconEdit.vue'
import IconCheck from '@/components/icons/IconCheck.vue';
import IconSelect from '@/components/icons/IconSelect.vue';
import IconDate from '@/components/icons/IconDate.vue';
import IconFont from '@/components/icons/IconFont.vue';
import IconPlus from '@/components/icons/IconPlus.vue';
import IconLine from '@/components/icons/IconLine.vue';
import IconGrid from '@/components/icons/IconGrid.vue';

import {useSignStore} from '@/stores/SignStore';
import {usePdfStore} from '@/stores/PdfStore'

interface PdfOptions {
  pageNumber: number;
  scale: number
}
interface Page {
  el?: HTMLCanvasElement,
  id: number
}

pdfjs.GlobalWorkerOptions.workerSrc = '//cdn.jsdelivr.net/npm/pdfjs-dist@3.1.81/build/pdf.worker.min.js';

const signStore = useSignStore()
const pdfStore = usePdfStore()
const showModal = ref(false)
const showPage = ref(false)
const refCanvas = ref<HTMLCanvasElement | null>(null)
const refPages = ref<Page[]>([])
const btnList = reactive<PrimaryButtonsProps['btnList']>([
  {
    'type':'primary',
    'text':'下載',
    event: {
      click: (e: PointerEvent)=> {
        console.log('下載', e)
      }
    }
  },
  {
    'type':'secondary',
    'text': '重置',
    event: {
      click: (e: PointerEvent)=> {
        console.log('重置', e)
      }
    }
  }
])
const toolList = reactive([
  {
    icon: shallowRef(IconDate),
    text: '日期'
  },
  {
    icon: shallowRef(IconFont),
    text: '文字'
  },
  {
    icon: shallowRef(IconCheck),
    text: '核取方塊'
  },
  {
    icon: shallowRef(IconSelect),
    text: '選擇鈕'
  },
])
let pdf: PDFDocumentProxy;

const setRefPages = ({el, id}: Page) => {
  const page = refPages.value.find((item) => item.id === id)
  if (page) {
    page.el = el;
  }
  return el;
}
const createRefPage = (id: Page['id']) => {
  const page = refPages.value.find((item) => item.id === id)
  if (!page) {
    refPages.value.push({id})
  }
}
const handlerScale = (event: Event) => {
  const select = event.target as HTMLSelectElement;
  const value = select.value;
  if (!refCanvas.value) return;
  const transform = refCanvas.value.style.transform.replace(/scale\(.*?\)/,'')
  refCanvas.value.style.transform = `${transform} scale(${+value / 100})`
}

const renderPdf = (canvas: HTMLCanvasElement, pdf: PDFDocumentProxy, options: PdfOptions) => {
  const {scale, pageNumber} = options

  pdf.getPage(pageNumber).then(
    (page) => {
      const viewport = page.getViewport({scale: scale});

      const context = canvas.getContext('2d');
      canvas.height = viewport.height;
      canvas.width = viewport.width;

      if (!context) return;
      const renderContext = {
        canvasContext: context,
        viewport: viewport
      };
      const renderTask = page.render(renderContext);
      renderTask.promise.then(() => {
      }).catch((error) => console.error(error));
    }).catch((error) => {
    console.error(error)
  });
}

const renderPages = (pdf: PDFDocumentProxy) => {
  for (let i = 0, length = pdf.numPages; i < length; i++) {
    createRefPage(i + Date.now() + ~(Math.random() * 100000))
  }
  nextTick(() => {
    for (let i = 0, length = refPages.value.length; i < length; i++) {
      const el = refPages.value[i].el;
      if (el) {
        renderPdf(el, pdf, {scale: 0.5, pageNumber: i + 1})
      }
    }
  })
}
const updatePdfMain = (pageIndex: number) => {
  if (!refCanvas.value) return;
  renderPdf(refCanvas.value, pdf, {scale: 2, pageNumber: pageIndex})
}

const initCanvas = async () => {
  if (!pdfStore.file.src) return;

  try {
    const file = await toBuffer(pdfStore.file.file) as ArrayBuffer;
    const loadingTask = pdfjs.getDocument(file);
    pdf = await loadingTask.promise;
    updatePdfMain(1)
    renderPages(pdf)
  } catch (error) {
    console.error(error)
  }
}

onMounted(async () => {
  await initCanvas()
})
onBeforeUnmount(async () => {
  await pdf.destroy()
})
</script>
<template>
    <div class="docs-edit max-w-screen-2xl w-full mb-12 mx-auto flex">
      <n-modal v-model:show="showModal" :mask-closable="false">
        <div class="w-11/12 max-w-[500px]">
          <div class="h-[calc(50vh-116px)] -translate-y-[25%] relative">
            <IconPlus @click="showModal = false" class="w-[24px] h-[24px] cursor-pointer absolute right-0 bottom-full mb-4 text-white rotate-45"/>
            <SingUpload role="dialog"
                        aria-modal="true" 
                        @handwriting:next="showModal = false"
                        @file-upload:next="showModal = false"
            />
          </div>
        </div>
      </n-modal>
      <div class="md:ml-12 md:mr-12 flex-1 flex flex-col md:flex-row rounded-3xl overflow-hidden md:h-[calc(100vh-116px-3rem)] min-h-[500px]">
        <!-- md:文件名稱輸入框 -->
        <div class="p-7 bg-white shadow-base md:hidden">
          <InputItem v-model="pdfStore.file.name" :suffix="IconEdit" />
        </div>
        <!-- 畫版工具 -->
        <div class="side-wrapper no-scroll overflow-auto w-full max-md:flex md:block" :class="{'max-md:!hidden': showPage}">
          <ItemWrapper class="max-md:hidden p-7">
            <InputItem v-model="pdfStore.file.name" :suffix="IconEdit" />
          </ItemWrapper>
          <ItemWrapper label="簽名" class="item-padding flex-shrink-0">
            <div class="row">
              <div v-for="sign in signStore.signs" :key="sign.id" class="sing-item">
                <img :src="sign.src" :alt="sign.name">
              </div>
              <div class="sing-item border-dashed" @click="showModal = true">
                <IconPlus class="w-[16px] h-[16px] text-primary"></IconPlus>
              </div>
            </div>
          </ItemWrapper>
          <ItemWrapper label="其他欄位" class="item-padding flex-shrink-0">
            <div class="row">
              <ToolItem v-for="item in toolList"
                        :key="item.text"
                        :icon="item.icon"
                        :text="item.text"
              />
            </div>
          </ItemWrapper>
        </div>
        <!-- PDF畫版 -->
        <div class="pdf-main flex-1 md:w-0 flex bg-primary-green relative md:min-h-[calc(100vh-116px-3rem)]">
          <div class="no-scroll flex-1 overflow-auto flex p-5">
            <canvas ref="refCanvas" class="m-auto"></canvas>
          </div>
          <SelectScale class="absolute z-10 right-1/2 translate-x-1/2 bottom-5" @change="handlerScale" />
          <SwitchIcon v-model:checked="showPage"
                      :checkedIcon="IconLine"
                      :icon="IconGrid"
                      class="absolute z-10 right-5 bottom-5 w-[40px] h-[40px] flex items-center justify-center rounded-2xl bg-white cursor-pointer transition-shadow duration-500 shadow-base md:hidden"
                      :class="{
                        'shadow-base': !showPage
                      }"
          />
        </div>
        <!-- 其他 -->
        <div class="side-wrapper flex flex-col" :class="{'max-md:!hidden': !showPage}">
          <ItemWrapper class="item-padding no-scroll overflow-auto flex content-start md:flex-wrap md:flex-1 gap-5">
            <div v-for="(page, i) in refPages"
                 :key="page.id"
                 class=" flex-shrink-0 w-[56px] h-[56px] md:w-[80px] md:h-[80px] bg-primary-green px-5 py-3 rounded-xl cursor-pointer"
                 @click="() => updatePdfMain(i + 1)"
            >
              <canvas :ref="(el) => setRefPages({el: (el as HTMLCanvasElement), id: page.id})" class="w-full h-full"></canvas>
              <div class="text-center">{{i}}</div>
            </div>
          </ItemWrapper>
          <PrimaryButtons :btn-list="btnList" class="max-md:hidden" />
        </div>
        <!-- md:按鈕 -->
        <PrimaryButtons :btn-list="btnList" class="order-1 md:hidden mt-5" />
      </div>
    </div>
</template>
<style>
.app-docs-edit {
  min-height: 100vh;
  background-image:
    url('@/assets/images/bg-docs-right-top.svg'),
    url('@/assets/images/bg-docs-left-bottom.svg');
  background-size: 80vmin, 80vmin;
  background-position:
  100% 0vmin,
  -20vmin 100%;
  background-repeat: no-repeat;
}
.n-modal {
    box-shadow: none;
}
@screen sm {
  .app-docs-edit {
    background-image:
      url('@/assets/images/bg-docs-left-top.svg'),url('@/assets/images/bg-docs-right-top.svg'),
      url('@/assets/images/bg-docs-left-bottom.svg'),url('@/assets/images/bg-docs-right-bottom.svg');
    background-size: 50vmin;
    background-position:
      left top, right top,
      left bottom, right bottom;
  }
}
</style>

<style scoped>
.no-scroll::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.sing-item {
  @apply flex justify-center items-center w-[80px] h-[56px] border-[0.5px] border-opacity-20 border-black rounded-2xl cursor-pointer overflow-hidden hover:border-primary;
}
.row {
  @apply max-md:flex md:grid md:grid-cols-2 gap-3;
}
.item-padding {
  @apply p-5 md:p-7;
}
.side-wrapper {
  @apply relative z-10 max-md:order-1 flex-shrink-0 md:w-[230px] md:py-7 bg-white shadow-base max-md:rounded-b-3xl;
}
</style>