<script lang="ts" setup>
const props = defineProps<{
    label?: string;
}>()
</script>
<template>
    <div class="item-wrapper
    text-primary-dark text-xs
    max-md:flex max-md:gap-5 max-md:items-center"
    >
      <h3 class="md:pb-4" v-if="props.label">{{props.label}}</h3>
      <slot></slot>
    </div>
</template>
<style scoped>
</style>