<script lang="ts" setup>
export interface Btn {
    tag?: 'button' | string;
    type: 'primary' | 'secondary';
    text: string;
    event?: {
        [K in keyof DocumentEventMap]?: Function;
    };
    bind?: Record<string, any>;
}
export interface Props {
    btnList: Btn[];
}
const props = defineProps<Props>();

const classes = (type: Btn['type']) => {
  const classes: Record<Btn['type'], string> = {
    'primary': 'button-primary',
    'secondary': 'button-secondary',
  };
  return classes[type];
}
</script>
<template>
    <div class="primary-buttons px-7 py-5 flex flex-col gap-5">
      <component :is='btn.tag || "button"'
                 v-for="btn in props.btnList"
                 :key="btn.text"
                 v-on="btn.event || {}"
                 v-bind="btn.bind || {}"
                 :class="classes(btn.type)"
      >
        {{btn.text}}
      </component>
    </div>
</template>
<style scoped>
</style>