<script lang="ts" setup>
import IconArrow from '@/components/icons/IconArrow.vue'
</script>
<template>
    <label class="select-scale flex items-center">
      <select class="pl-4 py-3 pr-7 outline-none font-notoTC text-xs appearance-none rounded-2xl bg-white cursor-pointer shadow-base"
              @change="(e) => $emit('change', e)"
      >
        <option value="100" selected>100%</option>
        <option value="90">90%</option>
        <option value="80">80%</option>
        <option value="70">70%</option>
        <option value="60">60%</option>
        <option value="50">50%</option>
        <option value="40">40%</option>
        <option value="30">30%</option>
        <option value="20">20%</option>
        <option value="10">10%</option>
      </select>
      <IconArrow class="block w-[16px] h-[16px] text-black pointer-events-none absolute right-3" />
    </label>
</template>
<style scoped>
</style>