<script lang="ts" setup></script>
<template>
    <div class="flex justify-center items-center w-[80px] h-[56px] border-[0.5px] border-dashed border-opacity-20 border-black rounded-2xl cursor-pointer overflow-hidden hover:border-primary">
      <slot></slot>
    </div>
</template>
<style scoped>
</style>