<script lang="ts" setup>
import type {VNode, PropType} from 'vue';
import { computed } from 'vue'

const props = defineProps<{
  icon?: PropType<VNode | string>;
  text?: string;
}>()
const isShow = computed(() => !!(props.icon || props.text))
</script>
<template>
    <div
        v-if="isShow"
        class="tool-item
              md:w-[80px]
              md:h-[80px]
              max-md:h-[56px]
              flex
              md:flex-col
              justify-between
              gap-4
              p-4 md:py-5
              shadow-base-secondary shadow-[color:#92b9c1]
              rounded-xl
              cursor-pointer
              hover:shadow-inner"
    >
      <component :is='props.icon' class="flex-shrink-0"></component>
      <span v-if="props.text">{{props.text}}</span>
    </div>
</template>
<style scoped>
</style>