<script setup lang="ts">
import DocsUpload from '@/micro/docs-upload';
</script>

<template>
    <main class="docs flex justify-center items-center pb-[100px]">
      <div class="flex-1 max-w-screen-md flex flex-col max-md:items-center md:justify-center md:flex-row gap-[32px]">
        <div class="flex-1 max-w-[331px] flex flex-col justify-center">
          <h2 class="font-medium text-primary-dark text-7xl pb-7">
            Anywhere,
            anytime.
          </h2>
          <p class=" text-primary-deep text-[24px]">開始簽署您的文件</p>
        </div>
        <div class="max-sm:w-full w-7/12">
          <div class="w-full card__wrapper">
            <DocsUpload class="w-full card__main-wrapper" :types="['application/pdf']" :maxSizeToMb="20"/>
          </div>
        </div>
      </div>
    </main>
</template>

<style>
.app-docs {
  min-height: 100vh;
  background-image:
    url('@/assets/images/bg-docs-right-top.svg'),
    url('@/assets/images/bg-docs-left-bottom.svg');
  background-size: 80vmin, 80vmin;
  background-position:
  100% 0vmin,
  -20vmin 100%;
  background-repeat: no-repeat;
}
@screen sm {
  .app-docs {
    background-image:
      url('@/assets/images/bg-docs-left-top.svg'),url('@/assets/images/bg-docs-right-top.svg'),
      url('@/assets/images/bg-docs-left-bottom.svg'),url('@/assets/images/bg-docs-right-bottom.svg');
    background-size: 50vmin;
    background-position:
      left top, right top,
      left bottom, right bottom;
  }
}
</style>
