<script lang="ts" setup></script>
<template>
    <main class="setting flex justify-center items-center">
      setting
    </main>
</template>
<style>
.app-setting {
  min-height: 100vh;
  background-image:
    url('@/assets/images/bg-sign-right-top.svg'),
    url('@/assets/images/bg-sign-left-bottom.svg');
  background-size: 80vmin, 80vmin;
  background-position:
  100% 0vmin,
  -20vmin 100%;
  background-repeat: no-repeat;
}
@screen sm {
  .app-setting {
    background-image:
      url('@/assets/images/bg-sign-left-top.svg'),url('@/assets/images/bg-sign-right-top.svg'),
      url('@/assets/images/bg-sign-left-bottom.svg'),url('@/assets/images/bg-sign-right-bottom.svg');
    background-size: 50vmin;
    background-position:
      left top, right top,
      left bottom, right bottom;
  }
}
</style>