<script setup lang="ts">
import SignUpload from '@/micro/sign-upload'
import { useRouter } from 'vue-router'
const router = useRouter()
const goPage = () => {
  router.push({name: 'docs'})
}
</script>
<template>
    <main class="sign flex justify-center">
      <div class="flex-1 max-w-screen-md flex flex-col max-md:items-center md:justify-center md:flex-row gap-[32px]">
        <div class="flex-1 max-w-[288px] md:pb-[116px] flex flex-col justify-center">
          <h2 class="w-[288px] font-medium text-primary-deep text-7xl pb-7">
            Go Green
            Today.
          </h2>
          <p class=" text-primary text-[24px]">創建您的第一枚電子簽名</p>
        </div>
        <div class="flex-[50%] max-w-[500px] max-md:pb-28">
          <div class="md:pt-[calc(50vh-116px+3rem)] md:-mt-[50%]">
            <SignUpload @handwriting:next="goPage" @file-upload:next="goPage"/>
          </div>
        </div>
      </div>
    </main>
</template>

<style>
.app-sign {
  min-height: 100vh;
  background-image:
    url('@/assets/images/bg-sign-right-top.svg'),
    url('@/assets/images/bg-sign-left-bottom.svg');
  background-size: 80vmin, 80vmin;
  background-position:
  100% 0vmin,
  -20vmin 100%;
  background-repeat: no-repeat;
}
@screen sm {
  .app-sign {
    background-image:
      url('@/assets/images/bg-sign-left-top.svg'),url('@/assets/images/bg-sign-right-top.svg'),
      url('@/assets/images/bg-sign-left-bottom.svg'),url('@/assets/images/bg-sign-right-bottom.svg');
    background-size: 50vmin;
    background-position:
      left top, right top,
      left bottom, right bottom;
  }
}
</style>