<script lang="ts">
export default { name: 'docs-upload' }
</script>
<script lang="ts" setup>
// lib
import axios from 'axios';
import {ref, reactive} from 'vue'
import { useRouter } from 'vue-router'
// store
import {usePdfStore} from '@/stores/PdfStore'
// components
import {useMessage} from 'naive-ui';
import IconEdit from '@/components/icons/IconEdit.vue'
import InputItem from '@/components/input-item/InputItem.vue';
import FileUpload, {type IFileUpload} from '@/components/file-upload';
// utils
import {toBase64} from '@/utils/resolve-file'
import {FileData} from '@/entity/FileData';

const {error} = useMessage()
const pdfStore = usePdfStore();
const router = useRouter()
const props = defineProps<{
  types: IFileUpload.Props['types'];
  maxSizeToMb?: number; // 單位 mb = fileSize / 1024 / 1024 < maxSize
}>()
const refFileUpload = ref<InstanceType<typeof FileUpload> | null>(null);
const fileList = reactive<IFileUpload.FileUploadData[]>([])
const uploadFile = reactive<FileData>(new FileData())
const uploading = ref(false)
const isSubmit = ref(false)
const customRequest = async (options: IFileUpload.CustomRequest) => {
  const { file, onError, onProgress, progress } = options;
  console.log(options)
  if (!file.file) return onError();
  const {id, file: fileInfo} = file
  const {name, type} = fileInfo
  uploading.value = true;
  uploadFile.set({name,id,type,file:fileInfo})
  fileList[0] = {info: fileInfo,id}

  const url = URL.createObjectURL(fileInfo)
  try {
    const res = await axios.get(url, {
      responseType: 'blob',
      onDownloadProgress(data) {
        const percent = Math.ceil((data.progress ?? 1) * 100)
        onProgress({percent})
        progress(percent)
      },
    })
    const base64File = await toBase64(res.data) as string

    setTimeout(() => {
      uploading.value = false;
      uploadFile.set({src:base64File})
      fileList[0] = {info: fileInfo,id, src: base64File}
    }, 1500); // 1500ms 跟動畫時間同步。

    // onFinish 會讓進度條消失，所以故意不調用
  } catch (error) {
    console.error(error)
    uploading.value = false;
    fileList[0] = {info: fileInfo,id}
  } finally {
    URL.revokeObjectURL(url)
  }
}
const reset = () => {
  if (!refFileUpload.value) return;
  refFileUpload.value.clear()
  uploadFile.clear()
  uploading.value = false
}
const submit = () => {
  if (!uploadFile.name) return error('請輸入文件名稱')
  if (!uploadFile.name) return error('請上傳文件')
  pdfStore.set({...uploadFile})
  isSubmit.value = true;
}
const handlerName = () => {
  if (isSubmit.value) {
    uploadFile.set({name: pdfStore.get().name})
  }
}
const nextPage = () => {
  router.push({name: 'docs-edit', params: {id: uploadFile.id}})
}

</script>
<template>
    <div class="docs-upload relative w-full">
      <FileUpload ref="refFileUpload"
                  :file-list="fileList"
                  v-model:uploading="uploading"
                  :show-file-list="uploading || !!uploadFile.src"
                  :types="props.types"
                  :maxSizeToMb="props.maxSizeToMb"
                  :show-size="true"
                  :customRequest="customRequest"
      ></FileUpload>
      <InputItem v-if="uploadFile.src"
                 class="block mt-7"
                 v-model="uploadFile.name"
                 label="自訂任務名稱"
                 placeholder="*.pdf"
                 :suffix="IconEdit"
                 :disabled="isSubmit"
                 @update:model-value="handlerName"
      />
      <div class="absolute top-full left-0 mt-8 w-full flex gap-5">
        <button class="button-secondary flex-1" @click="reset" :disabled="!uploadFile.src">重新上傳</button>
        <button v-if="uploading" class="button-alert flex-1" @click="reset">取消上傳</button>
        <button v-else-if="isSubmit" class="button-primary flex-1" @click="nextPage">下一步</button>
        <button class="button-primary flex-1"
                v-else
                @click="submit"
                :disabled="!uploadFile.name"
        >儲存結果</button>
      </div>
    </div>
</template>
<style scoped>
.docs-upload:deep(.n-upload-dragger){
  @apply w-full h-[220px] sm:h-[439px];
}

</style>
