<script lang="ts">
export default { name: 'sign-file-upload' }
</script>
<script lang="ts" setup>
// lib
import {ref, reactive} from 'vue'
// store
import {useSignStore} from '@/stores/SignStore'
// components
import IconEdit from '@/components/icons/IconEdit.vue'
import InputItem from '@/components/input-item/InputItem.vue';
import FileUpload, {type IFileUpload} from '@/components/file-upload';
// utils
import {useMessage} from '@/utils/message';

const message = useMessage()
const signStore = useSignStore();

const props = defineProps<{
  types: IFileUpload.Props['types'];
  maxSizeToMb?: number; // 單位 mb = fileSize / 1024 / 1024 < maxSize
}>()
const emit = defineEmits<{
  (e: 'next'): void
}>()
const refFileUpload = ref<InstanceType<typeof FileUpload> | null>(null);
const fileList = ref<IFileUpload.FileUploadData[]>([])
const uploadFile = reactive({
  name: '',
  id: '',
  src: '',
})
const uploading = ref(false)
const isSubmit = ref(false)

const handlerName = () => {
  if (isSubmit.value) {
    uploadFile.name = signStore.getSign(uploadFile.id)?.name || uploadFile.name;
  }
}
const nextPage = () => {
  emit('next')
}

const reset = () => {
  if (!refFileUpload.value) return;
  refFileUpload.value.clear()
  fileList.value = [];
  uploadFile.src = '';
  uploading.value = false
}
const submit = () => {
  if (!uploadFile.src) return message.error('請上傳文件')
  if (!uploadFile.name) return message.error('請輸入文件名稱')
  signStore.setSign({...uploadFile})
  isSubmit.value = true;
}
const changeUploadFile = (file: IFileUpload.FileUploadData) => {
  const { id, src, info } = file;
  uploadFile.id = id;
  uploadFile.src = src || uploadFile.src;
  uploadFile.name = info.name
}
</script>
<template>
    <div class="sign-upload">
      <FileUpload ref="refFileUpload"
                  show-size
                  v-model:file-list="fileList"
                  :types="props.types"
                  :maxSizeToMb="props.maxSizeToMb"
                  v-model:uploading="uploading"
                  @file-finish="changeUploadFile"
      ></FileUpload>
      <InputItem v-if="uploadFile.src"
                 class="block mt-7"
                 v-model="uploadFile.name"
                 label="簽名檔名稱"
                 placeholder="*.pdf,*.png,*.jpg"
                 :suffix="IconEdit"
                 :disabled="isSubmit"
                 @update:model-value="handlerName"
      />
      <div class="absolute top-full left-0 mt-5 w-full flex gap-5">
        <template v-if="isSubmit">
          <button class="button-secondary flex-1">管理簽名</button>
          <button class="button-primary flex-1" @click="nextPage">開始簽署文件</button>
        </template>
        <template v-else>
          <button class="button-secondary flex-1" @click="reset" :disabled="!uploadFile.src">重新上傳</button>
          <button class="button-alert flex-1" v-if="uploading" @click="reset">取消上傳</button>
          <button class="button-primary flex-1"
                  v-else
                  @click="submit"
                  :disabled="!uploadFile.name"
          >儲存結果</button>
        </template>
      </div>
    </div>
</template>
<style scoped>
</style>
