<script lang="ts" setup>
import type {VNode, Component, PropType} from 'vue'
import {useSlots} from 'vue'
const props = defineProps<{
    modelValue: string;
    tag?: 'label' | 'div';
    label?: string;
    prefix?: PropType<string | VNode | Component>;
    suffix?: PropType<string | VNode | Component>;
}>()

const emit = defineEmits<{
    (e: 'update:modelValue', value: string): void;
}>()
const $slots = useSlots()
const onInput = (e: Event) => {
  const el = e.target as HTMLInputElement;
  emit('update:modelValue', el.value)
}
</script>
<template>
    <component :is='tag || "div"' class="input-item">
      <span class="block pb-4 text-black text-opacity-50" v-if="label">{{label}}</span>
      <div class="relative">
        <div class="w-5 absolute left-4 top-0 bottom-0 m-auto" v-if="prefix || $slots.prefix">
          <slot name="prefix">
            <img v-if="typeof prefix === 'string'" :src="prefix" />
            <component :is='prefix' v-else />
          </slot>
        </div>
        <input type="text"
               @input="onInput"
               :value="props.modelValue"
               class="border-b w-full py-3 px-4 pr-14 outline-none"
               :placeholder="($attrs.placeholder as string | undefined)"
        >
        <div class="w-5 absolute right-4 top-0 bottom-0 m-auto" v-if="suffix || $slots.suffix">
          <slot name="suffix">
            <img v-if="typeof suffix === 'string'" :src="suffix" />
            <component :is='suffix' v-else />
          </slot>
        </div>
      </div>
    </component>
</template>
<style scoped>
</style>