<script lang="ts" setup>
import {NTabs, NTabPane} from 'naive-ui';
import SingUpload from './sign-file-upload';
import SingHandwriting from './sign-handwriting'
const emit = defineEmits<{
  (e: 'handwriting:next'): void;
  (e: 'file-upload:next'): void;
}>()

</script>
<template>
    <div class="sign">
      <n-tabs type="line" animated :tabs-padding="32">
        <n-tab-pane name="handwriting" tab="手寫模式">
          <SingHandwriting @next="emit('handwriting:next')"/>
        </n-tab-pane>
        <n-tab-pane name="upload" tab="上傳圖片">
          <SingUpload :types="['image/jpg','image/png', 'image/jpeg']" :maxSizeToMb="5" @next="emit('file-upload:next')"/>
        </n-tab-pane>
      </n-tabs>
    </div>
</template>
<style scoped>
.sign :deep(.n-tabs) {
  @apply card__wrapper pt-5;
}
.sign :deep(.n-tabs-tab){
  @apply text-black text-opacity-50 p-3;
}
.sign :deep(.n-tab-pane) {
  @apply card__main-wrapper;
}
.sign :deep(.n-tabs-pane-wrapper) {
  @apply overflow-visible;
}
</style>