@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        @apply bg-primary-light;
        font-size: 14px;
    }
}

@layer components {
    .button {
        @apply text-base text-white rounded-3xl disabled:opacity-30 transition-shadow disabled:cursor-not-allowed;
        padding: 12px 40px;
    }
    .button-primary {
        @apply button  bg-primary [&:not(:hover)]:shadow-base-primary focus:bg-[color:#3546CC];
    }
    .button-secondary {
        @apply button bg-white text-black [&:not(:hover)]:shadow-base-secondary focus:bg-[color:#FCFEFF];
    }
    .button-alert {
        @apply button bg-alert [&:not(:hover)]:shadow-base-alert focus:bg-[color:#DD6045];
    }
    .card__wrapper {
        @apply bg-white shadow-base rounded-3xl;
    }
    .card__main-wrapper {
        @apply p-7;
    }
}

@layer utilities {
    .fa,
    .fas {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900; }
}