<script lang="ts">
export default { name: 'sign-handwriting' }
</script>
<script lang="ts" setup>
import type {PointGroup, Options} from 'signature_pad'
// lib
import {ref,reactive, onMounted, onBeforeUnmount} from 'vue';
import SignaturePad from 'signature_pad'
// component
import IconEdit from '@/components/icons/IconEdit.vue'
import InputItem from '@/components/input-item/InputItem.vue';
import SingToolBar, {type Data} from './SingToolBar.vue';
// store
import {useSignStore} from '@/stores/SignStore'
// config
import { options, actions } from './tool-options'
// utils
import {useMessage} from '@/utils/message';

const message = useMessage()
const signStore = useSignStore();

const emit = defineEmits<{
  (e: 'next'): void
}>()

const isSubmit = ref(false)
const isDraw = ref(false);
const refCanvas = ref<HTMLCanvasElement | null>(null);
const history = reactive<PointGroup[] | null[]>([]);
const uploadFile = reactive({
  name: '',
  id: '',
  src: '',
})
let signaturePad: SignaturePad 

const nextPage = () => {
  emit('next');
}
const onSubmit = () => {
  if (signaturePad.isEmpty()) return message.error('請簽名');
  if (!uploadFile.name) return message.error('請輸入簽名檔名稱');

  const image = signaturePad.toDataURL();
  uploadFile.id = '' + Date.now();
  uploadFile.src = image
  signStore.setSign({...uploadFile})
  isSubmit.value = true;
}
const handlerCanvasOption = (data: Data<Options>) => {
  const { prop, value } = data;

  if (prop === 'color-picker') {
    signaturePad.penColor = value as string;
  }
  else if (typeof value !== 'string') {
    const keys = Object.keys(value) as (keyof Options)[]
    keys.forEach((k) => {
      signaturePad[k] = value[k] as never; // 不知為何 SignaturePad 顯示接收型別是 never
    })
  }
}
const clearRect = () => {
  signaturePad.clear();
}
const resizeCanvas = () => {
  if (!refCanvas.value) return;
  if (window.innerWidth <= 576) {
    refCanvas.value.width = Math.min(window.innerWidth - 100, 400);
  } else {
    refCanvas.value.width = 450;
  }
  signaturePad.clear();
}
const handlerUndo = () => {
  const data = signaturePad.toData();
  if (data) {
    const old = data.pop()
    old && history.unshift();
    signaturePad.fromData(data);
  }
}
const handlerRedo = () => {
  if (history.length) {
    const data = signaturePad.toData();
    const redo = history.shift()
    redo && signaturePad.fromData([...data, redo]);
  }
}
const clearHistory = () => {
  history.fill(null as never)
  history.length = 0;
}

onMounted(() => {
  console.log('on mounted')
  if (!refCanvas.value) return;

  signaturePad = new SignaturePad(refCanvas.value, {throttle: 0, minDistance: 0});
  signaturePad.on();

  signaturePad.addEventListener("beginStroke", clearHistory);

  window.addEventListener("resize", resizeCanvas);
  resizeCanvas();
})
onBeforeUnmount(() => {
  signaturePad.off();
  window.removeEventListener("resize", resizeCanvas);
  signaturePad.removeEventListener("beginStroke", clearHistory);
})
</script>
<template>
    <div class="sign-handwriting">
      <div class="pb-7 relative">
        <img v-if="isSubmit" :src="uploadFile.src" class=" border border-primary border-opacity-50 rounded-3xl" />
        <template v-else>
          <SingToolBar active="pen-base"
                       :options="options"
                       :actions="actions"
                       @change="handlerCanvasOption"
                       @clear="clearRect"
                       @undo="handlerUndo"
                       @redo="handlerRedo"
                       class="bg-white absolute top-3 left-3 right-3"
          />
          <canvas
              class="sing-canvas bg-primary-pale rounded-3xl"
              width="450"
              height="220"
              ref="refCanvas"
          ></canvas>
        </template>
      </div>
      <div class="sign-text flex flex-col">
        <InputItem class="block pb-4"
                   v-model="uploadFile.name"
                   label="簽名檔名稱"
                   :suffix="IconEdit"
                   placeholder="請輸入簽名檔案名稱"
        />
      </div>
      <div class=" absolute top-full left-0 mt-5 w-full flex gap-5">
        <template v-if="isSubmit">
          <button class="button-secondary flex-1">管理簽名</button>
          <button class="button-primary flex-1" @click="nextPage">開始簽署文件</button>
        </template>
        <template v-else>
          <button class="button-secondary flex-1" @click="clearRect" :disabled="!isDraw">清除畫布</button>
          <button class="button-primary flex-1" @click="onSubmit">儲存結果</button>
        </template>
      </div>
    </div>
</template>
<style scoped>
.sing-canvas {
  cursor: url('@/assets/images/img-cursor.svg') 5 5, default;
}
</style>