<script lang="ts">
export default { name: 'sing-tool-bar' }
</script>
<script lang="ts" setup>
import { ref, onMounted, type VNode } from 'vue'
import { NColorPicker } from 'naive-ui'
import IconColorPicker from '@/assets/images/icon-color-picker.svg';

import {resolveHighlighterRGBColor} from './utils';
import {colorToRGBA} from '@/utils/color-converter';

export type ActiveType = 'pen-base' | 'pen-highlighter'
export type OptionProp = ActiveType | 'color-picker';
export type EmitActionType = 'undo' | 'redo' | 'clear';
export interface Option<T extends any> {
  icon?: VNode | string;
  prop: OptionProp;
  value: T | string;
}
export interface EmitAction {
  icon?: VNode | string;
  prop: EmitActionType;
}
export type Data<T> = Pick<Option<T>, 'prop' | 'value'>

const props = defineProps<{
  active: ActiveType;
  options?: Option<any>[];
  actions?: EmitAction[];
  beforeActive?: (value: Option<any>) => boolean;
}>()
const emit = defineEmits<{
  (e: 'change', value: Data<any>): void;
  (e: EmitActionType): void
}>()
const colorValue = ref('');
const active = ref(props.active)
const isShowColorPicker = ref(false);
const refColorPicker = ref<HTMLImageElement | null>(null)
const swatches = [
  colorToRGBA('#000000').str,
  colorToRGBA('#18A058').str,
  colorToRGBA('#2080F0').str,
  colorToRGBA('#F0A020').str,
  colorToRGBA('rgba(208, 48, 80, 1)').str,
]
const triggerColorPicker = (action?: 'close' | 'open' | 'trigger') => {
  const actions = {
    close: false,
    open: true,
    trigger: !isShowColorPicker.value
  }
  isShowColorPicker.value = actions[action ?? 'trigger']
}
const confirmColorPicker = (color: string, option: Option<unknown>) => {
  option.value = color;
  emitOption(option)
  triggerColorPicker('close')
}
const emitOption = (option: Option<unknown>) => {
  if (props.beforeActive && !props.beforeActive(option)) return
  if (option.prop !== 'color-picker') active.value = option.prop
  if (option.prop === 'pen-highlighter') {
    colorValue.value = resolveHighlighterRGBColor(colorValue.value)
    confirmColorPicker(colorValue.value, {prop: 'color-picker', value: ''})
  }
  if (option.prop === 'pen-base') {
    colorValue.value = resolveHighlighterRGBColor(colorValue.value, '255')
    confirmColorPicker(colorValue.value, {prop: 'color-picker', value: ''})
  }
  const {icon, ...data} = option;
  emit('change', data)
}
onMounted(() => {
  props.options?.forEach((opt) => {
    if (opt.prop === 'color-picker') {
      colorValue.value = colorToRGBA(opt.value).str;
    }
  })
})
</script>
<template>
    <div class="tool-bar shadow-base rounded-full px-2 flex justify-between">
      <div class="tool-bar__options flex gap-3 py-2 px-3 relative">

        <div v-for="(opt, i) in options"
             :key="i"
             class="tool-bar__option"
        >
          <div v-if="opt.prop === 'color-picker'" class="relative">
            <img class="cursor-pointer w-6 h-6"
                 ref="refColorPicker"
                 :src="IconColorPicker"
                 @click="() => triggerColorPicker()"
            >
            <n-color-picker class="w-h h-0 overflow-hidden absolute"
                            @confirm="($event) => confirmColorPicker($event, opt)"
                            v-model:value="colorValue"
                            :default-value="opt.value"
                            :show="isShowColorPicker"
                            :show-preview="true"
                            :actions="['confirm']"
                            :internal-actions="['redo', 'undo']"
                            :swatches="swatches"
            />
          </div>
          <template v-else>
            <component 
                class="w-6 h-6 p-1 cursor-pointer rounded-lg text-primary opacity-50 bg-primary bg-opacity-0 hover:opacity-100 hover:bg-opacity-10"
                :class="{'!bg-opacity-10 opacity-100': active === opt.prop }"
                :is='opt.icon'
                @click="() => emitOption(opt)"
            ></component>
          </template>
        </div>
      </div>
      <div class="tool-bar__control-step flex gap-3 py-2 px-3 relative">
        <component v-for="item in actions"
                   :key="item.prop"
                   :is='item.icon'
                   class="w-6 h-6 p-1 cursor-pointer rounded-lg text-primary opacity-50 bg-primary bg-opacity-0 hover:opacity-100 hover:bg-opacity-10"
                   @click="() => emit(item.prop)"
        />
      </div>
    </div>
</template>
<style scoped>
</style>