<template>
    <svg width="100%"
         height="100%"
         viewBox="0 0 17 17"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M12.7837 6.83496L8.78369 10.835L4.78369 6.83496"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>
</template>