<template>
    <svg width="17"
         height="17"
         viewBox="0 0 17 17"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M3.4502 8.83496L7.4502 12.835L14.1169 4.83496"
            stroke="currentcolor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>

</template>