<template>
    <svg width="100%"
         height="100%"
         viewBox="0 0 17 17"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M14.2541 7.81072C14.0911 6.63753 13.5468 5.55049 12.7052 4.71705C11.8636 3.88361 10.7713 3.35 9.59658 3.19842C8.42185 3.04684 7.22988 3.28571 6.20426 3.87822C5.17865 4.47073 4.3763 5.38401 3.9208 6.47739M3.58746 3.81072V6.47739H6.25413"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
      <path d="M3.58746 9.14405C3.7505 10.3172 4.29475 11.4043 5.13637 12.2377C5.97799 13.0712 7.07029 13.6048 8.24502 13.7564C9.41974 13.9079 10.6117 13.6691 11.6373 13.0766C12.6629 12.484 13.4653 11.5708 13.9208 10.4774M14.2541 13.1441V10.4774H11.5875"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>

</template>