<template>
    <svg width="100%"
         height="100%"
         viewBox="0 0 14 13"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M12.7276 3.17072C12.5009 3.39739 12.2809 3.61739 12.2742 3.83739C12.2542 4.05072 12.4809 4.27072 12.6942 4.47739C13.0142 4.81072 13.3276 5.11072 13.3142 5.43739C13.3009 5.76406 12.9609 6.10406 12.6209 6.43739L9.86757 9.19739L8.9209 8.25072L11.7542 5.42406L11.1142 4.78406L10.1676 5.72406L7.66757 3.22406L10.2276 0.670723C10.4876 0.410723 10.9209 0.410723 11.1676 0.670723L12.7276 2.23072C12.9876 2.47739 12.9876 2.91072 12.7276 3.17072ZM0.920898 9.97739L7.29423 3.59739L9.79423 6.09739L3.4209 12.4774H0.920898V9.97739Z" fill="currentcolor"/>
    </svg>
</template>