<template>
    <svg width="17"
         height="18"
         viewBox="0 0 17 18"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M14.2665 17.3333H3.0665C2.42998 17.3333 1.81954 17.0804 1.36945 16.6304C0.91936 16.1803 0.666504 15.5698 0.666504 14.9333V2.1333C0.666504 1.92112 0.750789 1.71764 0.900818 1.56761C1.05085 1.41758 1.25433 1.3333 1.4665 1.3333H12.6665C12.8787 1.3333 13.0822 1.41758 13.2322 1.56761C13.3822 1.71764 13.4665 1.92112 13.4665 2.1333V11.7333H16.6665V14.9333C16.6665 15.5698 16.4136 16.1803 15.9636 16.6304C15.5135 17.0804 14.903 17.3333 14.2665 17.3333ZM13.4665 13.3333V14.9333C13.4665 15.1455 13.5508 15.349 13.7008 15.499C13.8508 15.649 14.0543 15.7333 14.2665 15.7333C14.4787 15.7333 14.6822 15.649 14.8322 15.499C14.9822 15.349 15.0665 15.1455 15.0665 14.9333V13.3333H13.4665ZM11.8665 15.7333V2.9333H2.2665V14.9333C2.2665 15.1455 2.35079 15.349 2.50082 15.499C2.65085 15.649 2.85433 15.7333 3.0665 15.7333H11.8665ZM3.8665 5.3333H10.2665V6.9333H3.8665V5.3333ZM3.8665 8.5333H10.2665V10.1333H3.8665V8.5333ZM3.8665 11.7333H7.8665V13.3333H3.8665V11.7333Z"
            fill="currentcolor"
      />
    </svg>

</template>