<template>
    <svg width="71"
         height="51"
         viewBox="0 0 71 51"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
         class="inline-block pb-5"
    >
      <path d="M20.0408 49.5059C13.7562 49.5059 1.18365 45.7344 1.18365 30.6487C1.18365 15.563 13.7562 11.7916 20.0408 11.7916C21.7551 8.363 27.5837 1.50586 37.1837 1.50586C49.1837 1.50586 54.3265 13.5059 54.3265 18.6487C59.4694 18.6487 69.7551 21.7344 69.7551 34.0773C69.7551 46.4201 59.4694 49.5059 54.3265 49.5059M35.4694 22.0773L25.1837 32.363M35.4694 22.0773L45.7551 32.363M35.4694 22.0773V49.5059"
            stroke="#728F9B"
            stroke-opacity="0.5"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>
</template>