<template>
    <svg width="17"
         height="17"
         viewBox="0 0 17 17"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M10.7045 3.16667L14.0378 6.50001M14.0378 6.50001L10.7045 9.83334M14.0378 6.50001L8.70451 6.5C5.02264 6.5 2.03784 9.4848 2.03784 13.1667V13.8333"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>
</template>