<template>
    <svg width="19"
         height="18"
         viewBox="0 0 19 18"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1.6665 17C3.54886 11.424 8.25474 0.999969 11.392 0.999969C14.2155 0.999969 6.05866 16.2727 9.19592 16.2727C11.392 16.2727 12.9606 8.63633 14.5292 8.63633C16.0979 8.63633 13.9018 15.1818 15.1567 15.1818C16.7253 15.1818 17.6665 12.2727 17.6665 12.2727"
            stroke="currentcolor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>
</template>