<template>
    <svg width="100%"
         height="100%"
         viewBox="0 0 17 17"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M4.78369 8.83496H12.7837M8.78369 12.835V4.83496"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>

</template>