<template>
    <svg width="14"
         height="14"
         viewBox="0 0 14 14"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <rect x="1.38867"
            y="1.28467"
            width="12.05"
            height="12.05"
            rx="1.5"
            stroke="#4F61E8"
      />
      <path d="M4.91406 6.88653L6.50505 8.80957L9.91406 5.80957" stroke="#4F61E8" stroke-linejoin="round"/>
    </svg>

</template>