<template>
    <svg width="12"
         height="13"
         viewBox="0 0 12 13"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <rect y="0.625"
            width="4"
            height="4"
            rx="0.5"
            fill="#4F61E8"
      />
      <rect x="8"
            y="0.625"
            width="4"
            height="4"
            rx="0.5"
            fill="#4F61E8"
      />
      <rect y="8.625"
            width="4"
            height="4"
            rx="0.5"
            fill="#4F61E8"
      />
      <rect x="8"
            y="8.625"
            width="4"
            height="4"
            rx="0.5"
            fill="#4F61E8"
      />
    </svg>

</template>