<template>
    <svg width="18"
         height="18"
         viewBox="0 0 18 18"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 16.9863C2.88235 11.4103 7.58824 0.986328 10.7255 0.986328C13.549 0.986328 5.39216 16.2591 8.52941 16.2591C10.7255 16.2591 12.2941 8.62269 13.8627 8.62269C15.4314 8.62269 13.2353 15.1681 14.4902 15.1681C16.0588 15.1681 17 12.2591 17 12.2591"
            stroke="#4F61E8"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>
</template>