<template>
    <svg width="100%"
         height="100%"
         viewBox="0 0 17 17"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M5.37118 3.16667L2.03784 6.50001M2.03784 6.50001L5.37118 9.83334M2.03784 6.50001L7.37118 6.5C11.053 6.5 14.0378 9.4848 14.0378 13.1667V13.8333"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>
</template>