<template>
    <svg width="15"
         height="14"
         viewBox="0 0 15 14"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <circle cx="7.88672"
              cy="7"
              r="6.5"
              stroke="#4F61E8"
      />
      <circle cx="7.88722"
              cy="7.00026"
              r="3.32765"
              fill="#4F61E8"
      />
    </svg>
</template>