<template>
    <svg width="100%"
         height="100%"
         viewBox="0 0 18 14"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M1 0.999969H11" stroke="#1E2F61" stroke-linecap="round"/>
      <path d="M1 6.99997H17" stroke="#1E2F61" stroke-linecap="round"/>
      <path d="M1 13H17" stroke="#1E2F61" stroke-linecap="round"/>
    </svg>

</template>