<template>
    <svg width="100%"
         height="100%"
         viewBox="0 0 14 16"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M0.783691 14.835H13.0337"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
      <path d="M1.9425 9.04078L9.6683 1.31498C10.3083 0.674954 11.346 0.674954 11.986 1.31498C12.6261 1.95501 12.6261 2.99269 11.986 3.63272L4.26024 11.3585L1.16992 12.1311L1.9425 9.04078Z"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>

</template>