<template>
    <svg width="25"
         height="25"
         viewBox="0 0 25 25"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M10.3147 9.08496H6.78369C5.59022 9.08496 4.44562 9.55907 3.60171 10.403C2.7578 11.2469 2.28369 12.3915 2.28369 13.585C2.28369 14.7784 2.7578 15.923 3.60171 16.7669C4.44562 17.6109 5.59022 18.085 6.78369 18.085H11.2837C12.0038 18.0853 12.7135 17.9129 13.3531 17.5821C13.9928 17.2513 14.5437 16.7719 14.9596 16.184C15.3755 15.5961 15.6443 14.9171 15.7433 14.2038C15.8423 13.4905 15.7687 12.7639 15.5287 12.085H14.2837C14.1547 12.085 14.0287 12.1 13.9087 12.1315C14.1617 12.5882 14.291 13.1031 14.284 13.6252C14.277 14.1473 14.1339 14.6585 13.8688 15.1083C13.6036 15.5581 13.2257 15.9309 12.7723 16.1899C12.3189 16.4489 11.8058 16.5851 11.2837 16.585H6.78369C5.98804 16.585 5.22498 16.2689 4.66237 15.7063C4.09976 15.1437 3.78369 14.3806 3.78369 13.585C3.78369 12.7893 4.09976 12.0262 4.66237 11.4636C5.22498 10.901 5.98804 10.585 6.78369 10.585H9.08619C9.41319 10.021 9.82869 9.51396 10.3162 9.08496H10.3147Z" fill="currentcolor"/>
      <path d="M14.2836 9.08496C13.5635 9.08458 12.8538 9.25703 12.2142 9.58782C11.5745 9.9186 11.0236 10.3981 10.6077 10.9859C10.1918 11.5738 9.92303 12.2529 9.824 12.9661C9.72498 13.6794 9.79857 14.406 10.0386 15.085H11.6856C11.4223 14.6289 11.2837 14.1116 11.2837 13.585C11.2837 13.0584 11.4223 12.541 11.6856 12.085C11.9489 11.6289 12.3276 11.2502 12.7836 10.9869C13.2397 10.7236 13.757 10.585 14.2836 10.585H18.7836C19.5793 10.585 20.3423 10.901 20.9049 11.4636C21.4675 12.0263 21.7836 12.7893 21.7836 13.585C21.7836 14.3806 21.4675 15.1437 20.9049 15.7063C20.3423 16.2689 19.5793 16.585 18.7836 16.585H16.4811C16.1547 17.1481 15.7394 17.6546 15.2511 18.085H18.7836C19.3746 18.085 19.9597 17.9686 20.5057 17.7424C21.0517 17.5163 21.5477 17.1848 21.9656 16.7669C22.3835 16.3491 22.7149 15.853 22.9411 15.307C23.1672 14.7611 23.2836 14.1759 23.2836 13.585C23.2836 12.994 23.1672 12.4089 22.9411 11.8629C22.7149 11.3169 22.3835 10.8208 21.9656 10.403C21.5477 9.98512 21.0517 9.65365 20.5057 9.4275C19.9597 9.20136 19.3746 9.08496 18.7836 9.08496H14.2836Z" fill="currentcolor"/>
    </svg>
    
</template>