<template>
    <svg width="13"
         height="14"
         viewBox="0 0 13 14"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M4.05712 13.38V11.9648L5.51826 11.6891V1.77359H2.82572L2.62355 3.48284H0.886719V0H12.4748V3.48284H10.7287L10.5266 1.77359H7.83403V11.6891L9.29517 11.9648V13.38H4.05712Z" fill="#4F61E8"/>
    </svg>

</template>