<template>
    <svg width="19"
         height="18"
         viewBox="0 0 19 18"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M17.0119 2.99951H15.3869V3.99951H16.8869V14.9995H2.88685V3.99951H4.38685V2.99951H2.76185C2.64497 3.00147 2.52961 3.02642 2.42238 3.07297C2.31515 3.11951 2.21813 3.18672 2.13688 3.27076C2.05562 3.3548 1.99172 3.45402 1.94882 3.56276C1.90592 3.6715 1.88486 3.78763 1.88685 3.90451V15.0945C1.88486 15.2114 1.90592 15.3275 1.94882 15.4363C1.99172 15.545 2.05562 15.6442 2.13688 15.7283C2.21813 15.8123 2.31515 15.8795 2.42238 15.9261C2.52961 15.9726 2.64497 15.9976 2.76185 15.9995H17.0119C17.1287 15.9976 17.2441 15.9726 17.3513 15.9261C17.4586 15.8795 17.5556 15.8123 17.6368 15.7283C17.7181 15.6442 17.782 15.545 17.8249 15.4363C17.8678 15.3275 17.8888 15.2114 17.8869 15.0945V3.90451C17.8888 3.78763 17.8678 3.6715 17.8249 3.56276C17.782 3.45402 17.7181 3.3548 17.6368 3.27076C17.5556 3.18672 17.4586 3.11951 17.3513 3.07297C17.2441 3.02642 17.1287 3.00147 17.0119 2.99951Z" fill="#4F61E8"/>
      <path d="M4.88672 6.99976H5.88672V7.99976H4.88672V6.99976Z" fill="#4F61E8"/>
      <path d="M7.88672 6.99976H8.88672V7.99976H7.88672V6.99976Z" fill="#4F61E8"/>
      <path d="M10.8867 6.99976H11.8867V7.99976H10.8867V6.99976Z" fill="#4F61E8"/>
      <path d="M13.8867 6.99976H14.8867V7.99976H13.8867V6.99976Z" fill="#4F61E8"/>
      <path d="M4.88672 9.49976H5.88672V10.4998H4.88672V9.49976Z" fill="#4F61E8"/>
      <path d="M7.88672 9.49976H8.88672V10.4998H7.88672V9.49976Z" fill="#4F61E8"/>
      <path d="M10.8867 9.49976H11.8867V10.4998H10.8867V9.49976Z" fill="#4F61E8"/>
      <path d="M13.8867 9.49976H14.8867V10.4998H13.8867V9.49976Z" fill="#4F61E8"/>
      <path d="M4.88672 11.9995H5.88672V12.9995H4.88672V11.9995Z" fill="#4F61E8"/>
      <path d="M7.88672 11.9995H8.88672V12.9995H7.88672V11.9995Z" fill="#4F61E8"/>
      <path d="M10.8867 11.9995H11.8867V12.9995H10.8867V11.9995Z" fill="#4F61E8"/>
      <path d="M13.8867 11.9995H14.8867V12.9995H13.8867V11.9995Z" fill="#4F61E8"/>
      <path d="M5.88672 4.99976C6.01933 4.99976 6.1465 4.94708 6.24027 4.85331C6.33404 4.75954 6.38672 4.63236 6.38672 4.49976V1.49976C6.38672 1.36715 6.33404 1.23997 6.24027 1.1462C6.1465 1.05243 6.01933 0.999756 5.88672 0.999756C5.75411 0.999756 5.62693 1.05243 5.53317 1.1462C5.4394 1.23997 5.38672 1.36715 5.38672 1.49976V4.49976C5.38672 4.63236 5.4394 4.75954 5.53317 4.85331C5.62693 4.94708 5.75411 4.99976 5.88672 4.99976Z" fill="#4F61E8"/>
      <path d="M13.8867 4.99976C14.0193 4.99976 14.1465 4.94708 14.2403 4.85331C14.334 4.75954 14.3867 4.63236 14.3867 4.49976V1.49976C14.3867 1.36715 14.334 1.23997 14.2403 1.1462C14.1465 1.05243 14.0193 0.999756 13.8867 0.999756C13.7541 0.999756 13.6269 1.05243 13.5332 1.1462C13.4394 1.23997 13.3867 1.36715 13.3867 1.49976V4.49976C13.3867 4.63236 13.4394 4.75954 13.5332 4.85331C13.6269 4.94708 13.7541 4.99976 13.8867 4.99976Z" fill="#4F61E8"/>
      <path d="M7.38672 2.99951H12.3867V3.99951H7.38672V2.99951Z" fill="#4F61E8"/>
    </svg>
</template>