<template>
    <svg width="100%"
         height="100%"
         viewBox="0 0 15 14"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M10.5543 1.07272L14.3256 4.84405C14.4506 4.96907 14.5208 5.13861 14.5208 5.31538C14.5208 5.49216 14.4506 5.6617 14.3256 5.78672L9.13959 10.9727L7.72626 11.444L6.78293 12.3867C6.65791 12.5117 6.48837 12.5819 6.31159 12.5819C6.13482 12.5819 5.96528 12.5117 5.84026 12.3867L3.01159 9.55805C2.88661 9.43303 2.8164 9.26349 2.8164 9.08672C2.8164 8.90994 2.88661 8.7404 3.01159 8.61538L3.95426 7.67272L4.42559 6.25872L9.61159 1.07272C9.73661 0.947736 9.90615 0.877525 10.0829 0.877525C10.2597 0.877525 10.4292 0.947736 10.5543 1.07272ZM11.0256 3.43005L6.78293 7.67272L7.72559 8.61538L11.9683 4.37272L11.0256 3.43005ZM2.77559 10.7367L4.66159 12.6227L3.71893 13.5654L0.890259 12.6227L2.77559 10.7367Z" fill="currentcolor" />
    </svg>

</template>