<template>
    <svg width="100%"
         height="100%"
         viewBox="0 0 18 18"
         fill="none"
         xmlns="http://www.w3.org/2000/svg"
    >
      <path d="M2.78369 14.835L8.78369 8.83496M8.78369 8.83496L14.7837 2.83496M8.78369 8.83496L14.7837 14.835M8.78369 8.83496L2.78369 2.83496"
            stroke="#1E2F61"
            stroke-linecap="round"
            stroke-linejoin="round"
      />
    </svg>
</template>