<script setup lang="ts">
import type {GlobalThemeOverrides} from 'naive-ui'
import IconHb from '@/components/icons/IconHb.vue';
import IconCancel from '@/components/icons/IconCancel.vue'
import IconDocs from '@/components/icons/IconDocs.vue'
import IconSign from '@/components/icons/IconSign.vue'
import IconSetting from '@/components/icons/IconSetting.vue'
import SwitchIcon from '@/components/switch-icon'
import { RouterLink, RouterView } from 'vue-router'
import { NConfigProvider, NMessageProvider, zhTW, dateZhTW, createLocale } from 'naive-ui'
import {ref} from 'vue'

const isShowNav = ref(false);

const routes = [
  {
    to: '/docs',
    label: '文件',
    icon: IconDocs,
    classes: '500ms'
  },
  {
    to: '/sign',
    label: '簽名',
    icon: IconSign,
    classes: '700ms'
  },
  {
    to: '/setting',
    label: '設定',
    icon: IconSetting,
    classes: '1000ms'
  },
]
const customizedLocale = createLocale(
  {
    global: {
      undo: '\uf2ea',
      redo: '\uf01e',
    }
  },
  zhTW
)
const themeOverrides: GlobalThemeOverrides = {
  common: {
    primaryColor: '#4F61E8',
  },
}

</script>

<template>
    <n-config-provider :theme-overrides="themeOverrides"
                       :locale="customizedLocale"
                       :date-locale="dateZhTW"
                       preflight-style-disabled
    >
      <n-message-provider>
        <RouterView #default="{Component, route}">
          <div :class="`app-${route.name as string}`" class="pt-[116px]">
            
            <header class="absolute left-0 right-0 top-0 z-10">
              <div class="max-w-screen-2xl m-auto flex justify-between items-center p-7 w-full h-[116px]">
                <div class="rounded-full inline-block bg-white py-4 px-5 sm:py-5 sm:px-9 transition-shadow duration-500 relative z-10 sm:shadow-base"
                     :class="{
                       'shadow-base': !isShowNav
                     }"
                >
                  <img src="~@/assets/images/logo.svg" alt="dotted sign logo" class="max-sm:w-[92px]">
                </div>
                <SwitchIcon v-model:checked="isShowNav"
                            :checkedIcon="IconCancel"
                            :icon="IconHb"
                            class="w-14 h-14 p-4 rounded-full bg-white cursor-pointer transition-shadow duration-500 relative z-10 sm:hidden"
                            :class="{
                              'shadow-base': !isShowNav
                            }"
                />
                <nav :class="[
                  'shadow-base',
                  'rounded-b-3xl bg-white sm:rounded-full',
                  'flex justify-between gap-10 text-lg sm:items-center',
                  'sm:min-w-[485px]',
                  'max-sm:pt-28 max-sm:pb-20 max-sm:px-9 sm:py-2 sm:px-9',
                  'max-sm:flex-col max-sm:absolute max-sm:left-0 max-sm:top-0 max-sm:right-0 max-sm:transition-transform max-sm:origin-top max-sm:duration-500 max-sm:scale-y-0',
                  'sm:scale-y-100'
                  ,{'max-sm:scale-y-100': isShowNav}]"
                >
                  <div :class="['nav-main', 'flex max-sm:gap-2 sm:gap-10', 'max-sm:flex-col', { 'max-sm:opacity-0': !isShowNav}]">
                    <RouterLink 
                        v-for="route in routes"
                        :key="route.to"
                        :to="route.to"
                        :class="{fade: isShowNav}"
                        :style="{'--delay': route.classes}"
                        class="group flex justify-center items-center gap-4 py-4 [&.router-link-active]:text-primary [&.router-link-active_.route-text]:opacity-100"
                    >
                      <component :is='route.icon' class="route-text transition-opacity opacity-50 group-hover:opacity-100 group-hover:text-primary"/>
                      <span class="route-text transition-opacity opacity-50 group-hover:opacity-100 group-hover:text-primary">
                        {{route.label}}
                      </span>
                    </RouterLink>
                  </div>

                  <div class="nav-footer" :class="{ 'max-sm:opacity-0': !isShowNav}">
                    <RouterLink 
                        to="/"
                        :class="{fade: isShowNav}"
                        :style="{'--delay': '1200ms'}"
                        class="group flex justify-center items-center gap-4"
                    >
                      <img src="~@/assets/images/img-cat.svg">
                      <span class="transition-opacity opacity-50 group-hover:opacity-100 group-hover:text-primary sm:hidden">
                        我的會員
                      </span>
                    </RouterLink>
             
                  </div>
                </nav>
              </div>
              
            </header>
            <div class="min-h-[calc(100vh-116px)] flex">
              <component :is='Component' class="flex-1" ></component>
            </div>
          </div>
        </RouterView>
      </n-message-provider>
    </n-config-provider>
</template>

<style scoped>
.fade {
  animation-name: fade;
  animation-duration: 500ms;
  animation-delay: var(--delay);
  animation-fill-mode: backwards;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
</style>
